body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

/*  HEADER  */

header .navbar {
  padding: 8px 16px;
  background-color: #fff;
}

header .navbar .logo {
  margin-left: 16px;
  position: relative;
  top: 4px;
}


.upload img,
.menu img {
  width: 15px;
  opacity: .5;
}

.float-right {
  float: right;
  margin-top: 4px;
}

.float-right span {
  margin: 0 12px;
}

.search input{
  /* min-width: 700px; */
  padding: 4px;
  font-size: 16px;
}

.upload {
  position: relative;
  top: 4px;
}

.menu {
  position: relative;
  top: -5px;
  left: 4px;
  margin: 0 auto;
}

.signin button {
  background-color:#167ac6;
  border-radius: 1px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  padding: 4px 6px;
}

/*  CONTENTS  */

.content {
  border: 1px red solid;
  width: 1024px;
  margin: 0 auto;
  font-size: 14px;
  display: block;
}

.main-content {
  width: 70%;
  margin-right: 10px;
  display: inline-block;
}

.video {
  border: 1px blue solid;
  width: 640px;
  height: 360px;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.info {
  padding: 20px;
}

.info .video-title {
  font-size: 20px;
  font-weight: bold;
}

.sidebar {
  width: 20%;
  display: inline-block;
}